[workspace]
resolver = "2"

members = [
    "crates/wie_backend",
    "crates/wie_base",
    "crates/wie_core_arm",
    "crates/wie_vendor_ktf",
    "crates/wie_wipi_c",
    "crates/wie_wipi_java",
]

[workspace.dependencies]
anyhow = { version = "^1.0", default-features = false }
async-trait = { version = "^0.1", default-features = false }
futures = { version = "^0.3", features = ["alloc"], default-features = false }
log = { version = "^0.4", default-features = false }

[package]
name = "wie"
version = "0.0.1"
edition = "2021"
license = "MIT"

[dependencies]
log = { workspace = true }
anyhow = { version = "^1.0", features = ["backtrace"] }
pretty_env_logger = { version = "^0.4" }
zip = { version = "^0.6" }

wie_backend = { path = "crates/wie_backend" }
wie_vendor_ktf = { path = "crates/wie_vendor_ktf" }